{% extends 'dental/base.html' %}

{% block content %}
    <section class="sec">
        <h2>Make an appointment</h2>
      <div>
          <input type="hidden" id="appId" />
          <p>
              Ім'я:<br />
              <input id="appName" />

          </p>
          <p>
              Вік:<br />
              <input id="appAge" type="number" />
          </p>

          <p>
              Номер телфону: <br>
              <input id="appPhone" />
          </p>
          <p>
            Причина візиту: <br>
            <input id="appReason" />
        </p>
          <p>
              <button id="saveAppoint">Зберегти</button>
          </p>
      </div>
      <table>
          <thead>
              <tr>
                  <th>Ім'я</th>
                  <th>Вік</th>
                  <th>Номер телефону</th>
                  <th>Причина візиту</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </section>
{% endblock %}

{% block scripts %}
    <script src="/public/js/appointment.js" defer></script>
    <script src="/public/js/auth.js" defer></script>
    <script src="/public/js/logout.js" defer></script>
{% endblock %}
