{% extends 'dental/base.html' %}

{% block content %}
    <section class="sec">
    <h2>Реєстрація стоматолога</h2>
    <div>
        <input type="hidden" id="dentistId" />
        <p>
            Ім'я:<br />
            <input id="dentistName" required />
        </p>
        <p>
            Вік:<br />
            <input id="dentistAge" type="number" required />
        </p>
        <p>
            Досвід (років):<br />
            <input id="dentistExp" type="number" required />
        </p>
        <p>
            Телефон:<br />
            <input id="dentistPhone" type="tel" required />
        </p>
        <p>
            <button id="saveBtn" type="button">Зберегти</button>
            <button id="resetBtn" type="button">Скинути</button>
        </p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Ім'я</th>
                <th>Вік</th>
                <th>Досвід</th>
                <th>Телефон</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    </section>
{% endblock %}

{% block scripts %}
    <script src="/public/js/dentist.js" defer></script>
    <script src="/public/js/auth.js" defer></script>
    <script src="/public/js/logout.js" defer></script>
{% endblock %}