{% extends 'dental/base.html' %}

{% block content %}
<section class="container my-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">   {# 3 стовпці починаючи з ≥ 768 px #}
    {% for service in services %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ service.image.url }}" class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-text">
              {{ service.name }}<br>
              Опис: {{ service.description }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="text-center mt-4">
    <button id="dentistRegPage" class="btn btn-primary btn-lg">Список стоматологів</button><br>
    <button id="patientRegPage" class="btn btn-primary btn-lg mt-2">Зареєструвати пацієнта</button>
  </div>
</section>

{% endblock %}

{% block scripts %}

{% endblock %}