{% extends 'dental/base.html' %}

{% block content %}
<section>
  <div class = "main-buttons">
    <div id="admin-buttons" style="display: none;">
    <button type="button" id="dentistRegPage" class="btn btn-primary btn-lg">Зареєструвати дантиста</button>
      <br>
    <button type="button" id="patientRegPage" class="btn btn-primary btn-lg">Зареєструвати паціента</button>
  </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/static/js/home.js" defer></script>
  <script src="/public/js/auth.js" defer></script>
  <script src="/public/js/logout.js" defer></script>
{% endblock %}