{% extends 'dental/base.html' %}

{% block content %}
      <section>
        <div class = "login-window">
            Name: <input type="text" id="userName">
            <br>
            Password: <input type="text" id="userPassword">
          <br>
            <button type="button" id="authUser">Log in</button>
        </div>
      </section>
{% endblock %}

{% block scripts %}
        <script src="/public/js/login.js" defer></script>
        <script src="/public/js/auth.js" defer></script>
        <script src="/public/js/logout.js" defer></script>
{% endblock %}