{% extends 'dental/base.html' %}

{% block content %}
    <section class="sec">

      <h2>Patient registation</h2>
      <div>
          <input type="hidden" id="patientId" />
          <p>
              Ім'я:<br />
              <input id="patientName" />

          </p>
          <p>
              Вік:<br />
              <input id="patientAge" type="number" />
          </p>
          <p>
              Номер телфону: <br>
              <input id="patientPhone" />
          </p>
          <p>
              <button id="savePat">Зберегти</button>
          </p>
      </div>
      <table>
          <thead>
              <tr>
                  <th>Ім'я</th>
                  <th>Вік</th>
                  <th>Номер телефону</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </section>
{% endblock %}

{% block scripts %}
    <script src="/public/js/patient.js"></script>
    <script src="/public/js/auth.js" defer></script>
    <script src="/public/js/logout.js" defer></script>
{% endblock %}