{% extends 'dental/base.html' %}

{% block content %}
  <section>
    <div>
  <p>Username: <span id="profile-username"></span></p>
  <p>Role: <span id="profile-role"></span></p>
  <p>ID: <span id="profile-id"></span></p>
   </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/public/js/login.js" defer></script>
  <script src="/public/js/auth.js" defer></script>
  <script src="/public/js/logout.js" defer></script>
  <script src="/public/js/profile.js" defer></script>
{% endblock %}