{% extends 'dental/base.html' %}

{% block content %}
      <section>
        <div class = "register-window">
            <input type="hidden" id="userId" />
            Name: <input type="text" id="userName">
            <br>
            Password: <input type="text" id="userPassword">
          <br>
            <button type="button" id="saveUser">Register</button>
        </div>
      </section>
{% endblock %}

{% block scripts %}
    <script src="/public/js/register.js" defer></script>
    <script src="/public/js/auth.js" defer></script>
    <script src="/public/js/logout.js" defer></script>
{% endblock %}
