{% extends 'dental/base.html' %}

{% block content %}
      <section>
        <div class = "review-window">
            <input type="hidden" id="reviewId" />
            <input type="text" id="review">
            <br>
            <button type="button" id="saveReview">Leave a review</button>
        </div>
          <table>
          <thead>
              <tr>
                  <th>Review</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
      </section>
{% endblock %}

{% block scripts %}
        <script src="/public/js/auth.js" defer></script>
        <script src="/public/js/logout.js" defer></script>
        <script src="/public/js/review.js" defer></script>
{% endblock %}
